In [38]:
import pandas as pd
import numpy as np

In [2]:
# read required excel sheets into dfs forcing string type
po_df = pd.read_excel (r'PL_PURCH_ORDER_DATA_PT1.xlsx', dtype=str) 

# change types of columns
po_df = po_df.astype({'PO - PO Hdr Match Process Inst': str, 
                      'PO - Query Date': 'datetime64[ns]', 
                      'PO - PO Last Update': 'datetime64[ns]', 
                      'PO - Contract Expire Date': 'datetime64[ns]',
                      'PO - FMIS DBE Goal': float, 
                      'PO - FMIS DBE Committed': float})

In [7]:
# drop columns
po_df = po_df.drop(columns=['PO - Distrib Line Process Flag', 'PO - In Process Flag', 'PO - PO Post Status', 'PO - Dispatch Action', 'PO - Prepaid PO Flag',
       'PO - PO Prepaid Amt', 'PO - Match Flg'])

In [50]:

def po_contract(contract, contract_id):
    if contract is None and contract_id is not None:
        if contract_id=="<NA>" or contract_id=="<NONE>":
            return None
        else:
            return contract_id
    elif contract=="<NONE>" or contract=="<NA>":
        return None
    else:
        if len(str(contract)) > len(str(contract_id)):
            return contract
        else:
            if contract_id=="<NA>" or contract_id=="<NONE>":
                return None
            else:
                return contract_id
                
# Calculated fields
po_df["CALC - PO Requesting Dept"] = pd.Series([row["PO - Dept ID"] if pd.isnull(row["PO - FMIS Requesting Dept ID"]) else row["PO - FMIS Requesting Dept ID"] for idx, row in po_df.iterrows()])
po_df["PO - Budget Status Descr"] = np.select(condlist=[po_df["PO - Budget Status"]=='E', po_df["PO - Budget Status"]=='N', po_df["PO - Budget Status"]=='V'],
                                                choicelist=['Budget Error', 'Not Checked', 'Valid'], default="")
po_df["CALC - PO Contract"] = po_df.apply(lambda x: po_contract(x["PO - FMIS Contract"], x["PO - FMIS Contract ID"]), axis = 1)

rename_dict = {'PO - Bid Categ Id': 'PO - FMIS Bid Categ ID', 'PO - FMIS Dept Short Descr': 'PO - FMIS Dept Short Descr', 'PO - FMIS Dept Descr': 'PO - Dept Descr'}

# call rename () method
po_df.rename(columns= rename_dict, inplace=True)

In [54]:
# next step: join line status code
#line_status = pd.read_excel("")
#po_df = pd.merge(po_df, line_status, how="left", left_on="PO - PO Line Cancel Status", right_on="PO_Line_Cancel_Status")

# join legacy taxomony code
#legacy_tax = pd.read_excel("")
#po_df = pd.merge(po_df, legacy_tax, how="left", left_on="PO - Taxonomy Categ ID", right_on="PO_Taxonomy_Categ_ID")

In [ ]:
# category codes
cat_codes = pd.read_excel("")

In [53]:
po_df

,PO - Business Unit,PO - Business Unit GL,PO - FMIS PO Status,PO - PO No,PO - PO Date,PO - PO Apprvl Date,PO - Buyer,PO - FMIS Origin,PO - FMIS Bid Categ,PO - FMIS Bid Short Descr,...,PO - PO Last Activity Date,PO - PO Budget Check,PO - PO Prev Amt,PO - PO Mode,PO - PO Activity Code,PO - Budget Status,PO - Query Date,CALC - PO Requesting Dept,PO - Budget Status Descr,CALC - PO Contract
0,MBTAC,MBTA1,C,9000004190,2009-07-03 00:00:00,2009-07-03 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2009-10-02 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
1,MBTAC,MBTA1,C,9000004191,2009-07-03 00:00:00,2009-07-03 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2013-04-01 00:00:00,Y,0.0,28,001,V,2022-10-01 00:35:26.562,841002,Valid,NaN
2,MBTAC,MBTA1,C,9000004192,2009-07-13 00:00:00,2009-07-13 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2017-05-03 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
3,MBTAC,MBTA1,C,9000004192,2009-07-13 00:00:00,2009-07-13 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2017-05-03 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
4,MBTAC,MBTA1,C,9000004193,2009-07-13 00:00:00,2009-07-13 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2009-08-27 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73690,MBTAZ,MBTA1,C,5000000361,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2018-06-22 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73691,MBTAZ,MBTA1,C,5000000361,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2018-06-22 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73692,MBTAZ,MBTA1,C,5000000361,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2018-06-22 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73693,MBTAZ,MBTA1,C,5000000362,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2012-11-21 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73694,MBTAZ,MBTA1,C,5000000363,2011-06-23 00:00:00,2011-06-23 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2011-12-01 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN

In [51]:
po_df

,PO - Business Unit,PO - Business Unit GL,PO - FMIS PO Status,PO - PO No,PO - PO Date,PO - PO Apprvl Date,PO - Buyer,PO - FMIS Origin,PO - FMIS Bid Categ,PO - FMIS Bid Short Descr,...,PO - PO Last Activity Date,PO - PO Budget Check,PO - PO Prev Amt,PO - PO Mode,PO - PO Activity Code,PO - Budget Status,PO - Query Date,CALC - PO Requesting Dept,PO - Budget Status Descr,CALC - PO Contract
0,MBTAC,MBTA1,C,9000004190,2009-07-03 00:00:00,2009-07-03 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2009-10-02 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
1,MBTAC,MBTA1,C,9000004191,2009-07-03 00:00:00,2009-07-03 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2013-04-01 00:00:00,Y,0.0,28,001,V,2022-10-01 00:35:26.562,841002,Valid,NaN
2,MBTAC,MBTA1,C,9000004192,2009-07-13 00:00:00,2009-07-13 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2017-05-03 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
3,MBTAC,MBTA1,C,9000004192,2009-07-13 00:00:00,2009-07-13 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2017-05-03 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
4,MBTAC,MBTA1,C,9000004193,2009-07-13 00:00:00,2009-07-13 00:00:00,VWONG,ONL,Unspecified,Unknown,...,2009-08-27 00:00:00,Y,0.0,02,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73690,MBTAZ,MBTA1,C,5000000361,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2018-06-22 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73691,MBTAZ,MBTA1,C,5000000361,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2018-06-22 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73692,MBTAZ,MBTA1,C,5000000361,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2018-06-22 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73693,MBTAZ,MBTA1,C,5000000362,2011-06-20 00:00:00,2011-06-20 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2012-11-21 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN
73694,MBTAZ,MBTA1,C,5000000363,2011-06-23 00:00:00,2011-06-23 00:00:00,TDOCKERY,ONL,Unspecified,Unknown,...,2011-12-01 00:00:00,Y,0.0,51,NaN,V,2022-10-01 00:35:26.562,841002,Valid,NaN